/*
*  @Author   : Greg Bird (@BirdyOz, greg.bird.oz@gmail.com)
*  @Created  : 2017-03-29 12:59:44
*  @Modified : 2017-07-12 14:21:36
*/


/*
*
* Modified Clean theme for Moodle 3.1, to bring visual design elements from
* new GOTAFE public website: http://www.gotafe.vic.edu.au/
**/


/**
 * GENERAL
 */

body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding-top: 0;
}
.container-fluid {
    max-width: 100%;
}
.container-fluid {
    margin-left: 15px;
}

/* Dimmed items */

span.arrow,
a.dimmed,
a.dimmed:link,
a.dimmed:visited,
a.dimmed_text,
a.dimmed_text:link,
a.dimmed_text:visited,
.dimmed_text,
.dimmed_text a,
.dimmed_text a:link,
.dimmed_text a:visited,
.usersuspended,
.usersuspended a,
.usersuspended a:link,
.usersuspended a:visited,
.dimmed_category,
.dimmed_category a {
    color: #666;
    font-style: italic;
}

/**
 * BANNER
 */

/*#page-header {
    height: 280px !important;
}*/

.page-context-header {
    /*font-family: Raleway, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;*/
    margin: 60px 10px 4px 320px;
    padding: 0 1em 1em 1em;
    font-size: 1em;
    line-height: 1em;
    width: auto;
    min-height: 120px;
    border-radius: 8px;
}
.page-context-header h1 {
    /*font-family: Raleway, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;*/
    font-weight: 700;
    font-size: 1.6em;
    margin: 0 0 0.5em 0;
    line-height: 1em;
    color: #fff;
}

/**
 * Alternative banner on login screen
 */

body.notloggedin header#page-header {
    background: none !important;
    height: 60px;
    margin-top: 40px;
    padding: 20px 0 0 30px;
    background-color: #1f3345 !important;
    }

body.notloggedin header#page-header .logo::after {
    content: "Welcome to GOTAFE Moodle";
    padding-top: 10px;
    color: #FFF;
    font-size: 2em;
    text-align: center;
    display: block;
    }

/**
 * Alternative banner layout for different widths
 */


/*When the navbar collapses*/

@media (max-width: 978px) {
    .page-context-header {
        margin: 60px 10px 4px 180px;
        font-size: 0.8em;
        min-height: 0;
    }
}

/*When the navbar collapses*/

@media (max-width: 780px) {
    .page-context-header {
        margin: 0 10px 0 0;
        font-size: 0.8em;
        width: 100%;
        min-height: 0;
    }
}

/**
 * DYNAMIC BANNER ELEMENTS
 */

#codes,
#audience {
    /*font-family: Raleway, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;*/
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: 500;
    color: #fff;
}
#codes span,
#audience span {
    /*font-family: Raleway, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;*/
    font-weight: 400;
    color: #eee;
}
#year {
    border: 4px solid #ccc;
    border-radius: 8px;
    background: transparent;
    color: #fff;
}
#year * {
    padding: 0.3em 0.7em;
}
#year .panel-body {
    font-size: 1.4em;
}
#year .panel-heading {
    font-size: 0.8em;
    background: red !important;
}
#year.panel-danger {
    border-color: red !important;
}

/*Defaul banner*/


/*Departmental Banners*/

.Main {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/main-new.jpg') no-repeat left;
}
.Main .page-context-header {
    background: rgba(11, 38, 80, 0.6)
}
.Main #year {
    border-color: rgba(255, 255, 255, 0.2)
}

/*Departmental banners*/
div[class*='.breadcrumbs-agriculture'],
.audience-agriculture {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/agriculture.jpg') no-repeat left;
}
div[class*='.breadcrumbs-allied-health'],
.audience-allied-health {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/allied-health.jpg') no-repeat left;
}
.audience-alt-main {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/alt-main.jpg') no-repeat left;
}
div[class*='.breadcrumbs-animal'],
.audience-animal-studies {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/animal-sciences.jpg') no-repeat left;
}
div[class*='.breadcrumbs-automotive'],
.audience-automotive {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/automotive.jpg') no-repeat left;
}
div[class*='.breadcrumbs-beauty'],
.audience-beauty {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/beauty.jpg') no-repeat left;
}
div[class*='.breadcrumbs-business'],
.audience-business {
    background: url('https://gotafe.trainingvc.com.au/file.php/1/banners/bus.jpg') no-repeat left;
}
div[class*='.breadcrumbs-building'],
.audience-building {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/carpentry.jpg') no-repeat left;
}
div[class*='.breadcrumbs-carpentry'],
.audience-carpentry {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/carpentry.jpg') no-repeat left;
}
div[class*='.breadcrumbs-childrens'],
.audience-childcare {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/childcare.jpg') no-repeat left;
}
div[class*='.breadcrumbs-conservation'],
.audience-clm {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/conservation.jpg') no-repeat left;
}
div[class*='.breadcrumbs-aged'],
.audience-aged {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/community-services.jpg') no-repeat left;
}
div[class*='.breadcrumbs-community'],
.audience-community-services {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/community-services.jpg') no-repeat left;
}
div[class*='.breadcrumbs-dairy'],
.audience-dairy {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/dairy-prod.jpg') no-repeat left;
}
div[class*='.breadcrumbs-design'],
.audience-design {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/design.jpg') no-repeat left;
}
div[class*='.breadcrumbs-electrical'],
.audience-electrical {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/electrical.jpg') no-repeat left;
}
div[class*='.breadcrumbs-glass'],
.audience-glass {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/glass.jpg') no-repeat left;
}
div[class*='.breadcrumbs-hair'],
.audience-hair {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/hair.jpg') no-repeat left;
}
div[class*='.breadcrumbs-horticulture'],
.audience-hort {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/horticulture.jpg') no-repeat left;
}

div[class*='.breadcrumbs-hospitality'],
.audience-hospitality {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/hospitality.jpg') no-repeat left;
}
div[class*='.breadcrumbs-information-technology'],
.audience-it {
    background: url('https://gotafe.trainingvc.com.au/file.php/1/banners/it.jpg') no-repeat left;
}
div[class*='.breadcrumbs-joinery'],
.audience-joinery {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/joinery.jpg') no-repeat left;
}
div[class*='.breadcrumbs-cabinet'],
.audience-cabinet {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/joinery.jpg') no-repeat left;
}
div[class*='.breadcrumbs-staff-development'],
.audience-learning-and-development {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/learning-and-development.jpg') no-repeat left;
}
div[class*='.breadcrumbs-game'],
.audience-game {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/game development.jpg') no-repeat left;
}
.NCDE,
div[class*='.breadcrumbs-ncde'],
.audience-ncde {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/ncde.jpg') no-repeat left;
}
.NCEE,
div[class*='.breadcrumbs-ncee'],
.audience-ncee {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/ncee.jpg') no-repeat left;
}
div[class*='.breadcrumbs-nursing'],
.audience-nurse {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/nurse.jpg') no-repeat left;
}
div[class*='.breadcrumbs-plumbing'],
.audience-plumbing {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/plumbing.jpg') no-repeat left;
}
div[class*='.breadcrumbs-sport'],
.audience-sport {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/sport.jpg') no-repeat left;
}
.audience-sport-rec {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/sport-rec.jpg') no-repeat left;
}
.audience-tourism {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/tourism.jpg') no-repeat left;
}
div[class*='.breadcrumbs-train-assess'],
.audience-train-assess {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/train-assess.jpg') no-repeat left;
}
div[class*='.breadcrumbs-vocational'],
.audience-vocational {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/vocational.jpg') no-repeat left;
}
div[class*='.breadcrumbs-lsu'],
.audience-lsu {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/vocational.jpg') no-repeat left;
}
div[class*='.breadcrumbs-wine'],
.audience-wine {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/wine.jpg') no-repeat left;
}
div[class*='.breadcrumbs-viticulture'],
.audience-viticulture {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/viticulture.jpg') no-repeat left;
}
div[class*='.breadcrumbs-hydroponics'],
.audience-hydroponics {
    background: url('https://gotafetest31.trainingvc.com.au/file.php/1/hydroponics.jpg') no-repeat left;
}


/*INDUSTRY COLOURS*/

/*Business & IT*/

/*Creative Services*/

/*Education & Teaching*/

/*Health & Community */

/*Hospitality, Events & Tourism */

/*Manufacturing*/

/*Rural Industries*/

/*Technical Trades*/


/**
 * NAVIGATION
 */


/*Top Nav*/

.navbar,
.navbar-inverse,
.navbar-inner,
.usermenu {
    background-color: #021A28 !important;
    background-image: none !important;
    /*font-family: Raleway, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;*/
    font-weight: 400;
    font-size: 1em;
}
.navbar .nav>li>a {
    text-shadow: none !important;
    font-weight: bold;
}
nav.navbar-inner a,
.usertext {
    color: white !important;
    background-image: none !important;
}
.navbar .nav li.dropdown.open>.dropdown-toggle,
.navbar .nav li.dropdown.active>.dropdown-toggle,
.navbar .nav li.dropdown.open.active>.dropdown-toggle {
    background-color: black
}
nav.navbar-inner a:hover,
.usertext:hover {
    color: white !important;
    background-image: none !important;
    text-decoration: underline !important;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #000 !important;
}

/*Reset dropdown menu */

.actionmenu>li>a,
.actionmenu>li>a,
.dropdown-menu>li>a,
.dropdown-menu>li>a,
.dropdown-submenu>a,
.dropdown-submenu>a,
.menu-action-text {
    color: black !important;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a .menu-action-text:hover {
    color: white !important;
    background-color: #00699e !important;
    background-image: none;
}

/*Reset user menu*/

a.menu-action:hover .menu-action-text {
    color: white !important;
}

/**
 * Breadcrumbs
 */

.breadcrumb {
    /*font-family: Raleway, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;*/
    font-weight: 400;
}
.breadcrumb > li {
    text-shadow: none;
}
.breadcrumb a {
    color: #1f3345;
    font-weight: 800;
}

/**
 * BLOCKS
 */

.block,
.dockedtitle {
    background-color: white !important;
    /*font-family: Raleway, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;*/
}
.block .header {
    background-color: #144563;
    margin: 0 6px;
    padding: 6px;
    border-radius: 4px;
}
.block .header h2 {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    text-shadow: none;
    text-transform: none;
}

/**
 * DOCKED ITEMS
 */

#dock .dockedtitle {
    background-image: none !important;
    padding: 0 0 0 6px;
    border-radius: 6px;
    background-color: #144563 !important;
    font-size: 1em;
    font-weight: 300;
    color: white;
    text-shadow: none;
    text-transform: none;
}
#dock .css3transform {
    /*font-family: Raleway, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;*/
    color: white;
}

/**
 * BUTTONS
 */

#page-mod-scorm-player .breadcrumb-button > a[title="Exit activity"],
button,
input.form-submit,
input[type="button"],
[class*="button"] input[type="submit"],
input[type="reset"],
.btn,
input.form-submit,
input#id_submitbutton,
input#id_submitbutton2,
.path-admin .buttons input[type="submit"],
td.submit input {
    color: rgb(20, 69, 99) !important;
    background-color: white !important;
    background-image: none !important;
    border: 2px solid rgb(20, 69, 99);
    padding: 8px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.9em;
}
#page-mod-scorm-player .breadcrumb-button > a[title="Exit activity"]:hover,
#page-mod-scorm-player .breadcrumb-button > a[title="Exit activity"]:focus,
button:hover,
.btn-primary:focus,
.btn-primary:hover,
.btn:hover,
.btn:focus,
input.form-submit:hover,
input[type="button"]:hover,
[class*="button"] input[type="submit"]:hover,
input[type="reset"]:hover,
button:focus,
input.form-submit:focus,
input#id_submitbutton:hover,
input#id_submitbutton2:hover,
input#id_submitbutton:focus,
input#id_submitbutton2:focus,
input[type="button"]:focus,
[class*="button"] input[type="submit"]:focus,
input[type="reset"]:focus {
    color: white !important;
    background-color: rgb(20, 69, 99) !important;
    border-color: rgb(20, 69, 99) !important;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    text-shadow: none;
}

/* PAGE: COURSE > ONE TOPIC FORMAT */

div.onetopic ul.nav-tabs > li a {
    color: rgb(20, 69, 99) !important;
    background-color: white;
    background-image: none !important;
    border: 2px solid rgb(20, 69, 99);
    padding: 8px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.9em;
    margin: 2px;
    text-shadow: none;
}

/*Hover + active*/

div.onetopic ul.nav-tabs > li.active > a,
div.onetopic ul.nav-tabs > li > a:hover,
div.onetopic ul.nav-tabs > li > a:focus {
    color: white !important;
    background-color: rgb(20, 69, 99) !important;
    border: 2px solid #099!important -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    text-shadow: none;
}

/**
 * MAIN CONTENT
 */


/**
 * FOOTER
 */

#page-footer {
    text-align: left !important;
    padding: 2em;
    color: #fff;
    background-color: #1f3345
}
#page-footer .text-center {
    background: url('http://www.gotafe.vic.edu.au/wp-content/uploads/2016/10/State-Gov-Vic-Logo2.png') no-repeat top right;
    background-repeat: none;
    text-align: left !important;
    margin: 2em 2em 2em 4em;
}
#page-footer a {
    color: #fff;
}

/**
 * DASHBOARD
 */

.block_course_overview .content h2.title {
    font-size: 1.2em !important;
    line-height: 1.4em !important;
}
h3.coursename,
h3.categoryname,
h4.categoryname {
    font-size: 1.1em;
    line-height: 1.2em;
    font-weight: 200;
}

/**
 * FIXES TO DISPLAY ISSUES
 */


/* Resize images to fit their container.  To prevent images flowing off the screen, particularly on mobile devices*/

div.no-overflow {
    overflow: inherit;
}
div.no-overflow img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

/*Specific overrides*/

.block_course_contents .section-number {
    background-color: #333
}
#region-main a.rspkr_dr_link {
    padding-right: 1.2em;
    padding-left: 0.2em;
}
.breadcrumb-nav {
    margin-left: 1em;
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.breadcrumb-button {
    margin-right: 1em;
}
.small-logo {
    display: none;
}